.frame {
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  position: absolute;
  background: #042A2B; }
  .frame .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .frame .ball {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background: #41e9ed; }
  .frame .blubb-1 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(208deg);
    -ms-transform: rotate(208deg);
    transform: rotate(208deg); }
    .frame .blubb-1:after {
      position: absolute;
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 41px 41px;
      -ms-transform-origin: 41px 41px;
      transform-origin: 41px 41px;
      -webkit-animation: rotateMe 2.7s ease-in-out 0.2s infinite;
      animation: rotateMe 2.7s ease-in-out 0.2s infinite; }
  .frame .blubb-2 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(295deg);
    -ms-transform: rotate(295deg);
    transform: rotate(295deg); }
    .frame .blubb-2:after {
      position: absolute;
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 38px 38px;
      -ms-transform-origin: 38px 38px;
      transform-origin: 38px 38px;
      -webkit-animation: rotateMe 2.9s ease-in-out 0.4s infinite;
      animation: rotateMe 2.9s ease-in-out 0.4s infinite; }
  .frame .blubb-3 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(167deg);
    -ms-transform: rotate(167deg);
    transform: rotate(167deg); }
    .frame .blubb-3:after {
      position: absolute;
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 35px 35px;
      -ms-transform-origin: 35px 35px;
      transform-origin: 35px 35px;
      -webkit-animation: rotateMe 3.1s ease-in-out 0.6s infinite;
      animation: rotateMe 3.1s ease-in-out 0.6s infinite; }
  .frame .blubb-4 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(76deg);
    -ms-transform: rotate(76deg);
    transform: rotate(76deg); }
    .frame .blubb-4:after {
      position: absolute;
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 32px 32px;
      -ms-transform-origin: 32px 32px;
      transform-origin: 32px 32px;
      -webkit-animation: rotateMe 3.3s ease-in-out 0.8s infinite;
      animation: rotateMe 3.3s ease-in-out 0.8s infinite; }
  .frame .blubb-5 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(224deg);
    -ms-transform: rotate(224deg);
    transform: rotate(224deg); }
    .frame .blubb-5:after {
      position: absolute;
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 29px 29px;
      -ms-transform-origin: 29px 29px;
      transform-origin: 29px 29px;
      -webkit-animation: rotateMe 3.5s ease-in-out 1s infinite;
      animation: rotateMe 3.5s ease-in-out 1s infinite; }
  .frame .blubb-6 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(139deg);
    -ms-transform: rotate(139deg);
    transform: rotate(139deg); }
    .frame .blubb-6:after {
      position: absolute;
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 26px 26px;
      -ms-transform-origin: 26px 26px;
      transform-origin: 26px 26px;
      -webkit-animation: rotateMe 3.7s ease-in-out 1.2s infinite;
      animation: rotateMe 3.7s ease-in-out 1.2s infinite; }
  .frame .blubb-7 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(33deg);
    -ms-transform: rotate(33deg);
    transform: rotate(33deg); }
    .frame .blubb-7:after {
      position: absolute;
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 23px 23px;
      -ms-transform-origin: 23px 23px;
      transform-origin: 23px 23px;
      -webkit-animation: rotateMe 3.9s ease-in-out 1.4s infinite;
      animation: rotateMe 3.9s ease-in-out 1.4s infinite; }
  .frame .blubb-8 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(28deg);
    -ms-transform: rotate(28deg);
    transform: rotate(28deg); }
    .frame .blubb-8:after {
      position: absolute;
      display: block;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 20px 20px;
      -ms-transform-origin: 20px 20px;
      transform-origin: 20px 20px;
      -webkit-animation: rotateMe 4.1s ease-in-out 1.6s infinite;
      animation: rotateMe 4.1s ease-in-out 1.6s infinite; }
  .frame .sparkle-1 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(275deg);
    -ms-transform: rotate(275deg);
    transform: rotate(275deg); }
    .frame .sparkle-1:after {
      content: "";
      position: absolute;
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 57px 57px;
      -ms-transform-origin: 57px 57px;
      transform-origin: 57px 57px;
      -webkit-animation: rotateMe 3.7s ease-in-out 0.2s infinite;
      animation: rotateMe 3.7s ease-in-out 0.2s infinite; }
  .frame .sparkle-2 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(191deg);
    -ms-transform: rotate(191deg);
    transform: rotate(191deg); }
    .frame .sparkle-2:after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 54px 54px;
      -ms-transform-origin: 54px 54px;
      transform-origin: 54px 54px;
      -webkit-animation: rotateMe 3.9s ease-in-out 0.4s infinite;
      animation: rotateMe 3.9s ease-in-out 0.4s infinite; }
  .frame .sparkle-3 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 11px;
    height: 11px;
    -webkit-transform: rotate(164deg);
    -ms-transform: rotate(164deg);
    transform: rotate(164deg); }
    .frame .sparkle-3:after {
      content: "";
      position: absolute;
      display: block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 51px 51px;
      -ms-transform-origin: 51px 51px;
      transform-origin: 51px 51px;
      -webkit-animation: rotateMe 4.1s ease-in-out 0.6s infinite;
      animation: rotateMe 4.1s ease-in-out 0.6s infinite; }
  .frame .sparkle-4 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(51deg);
    -ms-transform: rotate(51deg);
    transform: rotate(51deg); }
    .frame .sparkle-4:after {
      content: "";
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 48px 48px;
      -ms-transform-origin: 48px 48px;
      transform-origin: 48px 48px;
      -webkit-animation: rotateMe 4.3s ease-in-out 0.8s infinite;
      animation: rotateMe 4.3s ease-in-out 0.8s infinite; }
  .frame .sparkle-5 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 13px;
    height: 13px;
    -webkit-transform: rotate(106deg);
    -ms-transform: rotate(106deg);
    transform: rotate(106deg); }
    .frame .sparkle-5:after {
      content: "";
      position: absolute;
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 45px 45px;
      -ms-transform-origin: 45px 45px;
      transform-origin: 45px 45px;
      -webkit-animation: rotateMe 4.5s ease-in-out 1s infinite;
      animation: rotateMe 4.5s ease-in-out 1s infinite; }
  .frame .sparkle-6 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(169deg);
    -ms-transform: rotate(169deg);
    transform: rotate(169deg); }
    .frame .sparkle-6:after {
      content: "";
      position: absolute;
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 42px 42px;
      -ms-transform-origin: 42px 42px;
      transform-origin: 42px 42px;
      -webkit-animation: rotateMe 4.7s ease-in-out 1.2s infinite;
      animation: rotateMe 4.7s ease-in-out 1.2s infinite; }
  .frame .sparkle-7 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 15px;
    height: 15px;
    -webkit-transform: rotate(275deg);
    -ms-transform: rotate(275deg);
    transform: rotate(275deg); }
    .frame .sparkle-7:after {
      content: "";
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 39px 39px;
      -ms-transform-origin: 39px 39px;
      transform-origin: 39px 39px;
      -webkit-animation: rotateMe 4.9s ease-in-out 1.4s infinite;
      animation: rotateMe 4.9s ease-in-out 1.4s infinite; }
  .frame .sparkle-8 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(271deg);
    -ms-transform: rotate(271deg);
    transform: rotate(271deg); }
    .frame .sparkle-8:after {
      content: "";
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 36px 36px;
      -ms-transform-origin: 36px 36px;
      transform-origin: 36px 36px;
      -webkit-animation: rotateMe 5.1s ease-in-out 1.6s infinite;
      animation: rotateMe 5.1s ease-in-out 1.6s infinite; }
  .frame .sparkle-9 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 17px;
    height: 17px;
    -webkit-transform: rotate(197deg);
    -ms-transform: rotate(197deg);
    transform: rotate(197deg); }
    .frame .sparkle-9:after {
      content: "";
      position: absolute;
      display: block;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 33px 33px;
      -ms-transform-origin: 33px 33px;
      transform-origin: 33px 33px;
      -webkit-animation: rotateMe 5.3s ease-in-out 1.8s infinite;
      animation: rotateMe 5.3s ease-in-out 1.8s infinite; }
  .frame .sparkle-10 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(187deg);
    -ms-transform: rotate(187deg);
    transform: rotate(187deg); }
    .frame .sparkle-10:after {
      content: "";
      position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #41e9ed;
      -webkit-transform-origin: 30px 30px;
      -ms-transform-origin: 30px 30px;
      transform-origin: 30px 30px;
      -webkit-animation: rotateMe 5.5s ease-in-out 2s infinite;
      animation: rotateMe 5.5s ease-in-out 2s infinite; }

@-webkit-keyframes rotateMe {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0); }
  to {
    -webkit-transform: rotate(-360deg) translate3d(0, 0, 0);
    transform: rotate(-360deg) translate3d(0, 0, 0); } }

@keyframes rotateMe {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0); }
  to {
    -webkit-transform: rotate(-360deg) translate3d(0, 0, 0);
    transform: rotate(-360deg) translate3d(0, 0, 0); } }
